---
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import { getLocalizedRoute } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);

---

<a
  class="text-base-800 dark:text-base-200 flex items-center gap-2 align-middle text-xl font-medium"
  href={getLocalizedRoute(currLocale)}
>
  <img src="/logo.svg" alt="Cyberstrike logo" class="h-10 w-10 dark:brightness-0 dark:invert" />
  <p class="">{siteData.name}</p>
</a>
